<hitml>
    <head>
        <title>JinishaGroup</title>
    </head>

    <body>

        <div align="center", style="margin-top: 10%">
            <p>Order Confirmed..!!</p>
        </div>

    </body>
</hitml>
