<hitml>
    <head>
        <title>JinishaGroup</title>
    </head>

    <body>

    <div align="center", style="margin-top: 10%">
        <p>Welcome to Jinisha Group</p>
    </div>
    <div align="center">
        <a href="product.ejs"><button>Place order</button></a>
    </div>

    </body>
</hitml>
